body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #2c3e50;
}

img {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2c3e50;
    color: white;
}
